@model provider.faculdade.model.Aluno

@{
    ViewBag.Title = "Aluno - Exlcuir";
}

<br />

<h3>Confirma a exclusão do Aluno(a): @Html.DisplayFor(model => model.Nome)?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="EXCLUIR" class="btn btn-default" /> |
            @Html.ActionLink("VOLTAR", "Index")
        </div>
    }
</div>
